<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8588a8a8-0d5f-4ef4-9375-6b931093df96/resourceGroups/DockerWebApp/providers/Microsoft.ContainerRegistry/registries/DockerWebApp220190810090554</ResourceId>
    <ResourceName>DockerWebApp220190810090554</ResourceName>
    <ResourceGroup>DockerWebApp</ResourceGroup>
    <Subscription>Pago pelo Uso</Subscription>
    <RegistryUrl>https://dockerwebapp220190810090554.azurecr.io/</RegistryUrl>
    <UserName>DockerWebApp220190810090554</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>720b201b-fa0c-48d9-b004-b289781fe60e</ProjectGuid>
  </PropertyGroup>
</Project>